<h2 class="dashboard-title">Product Dashboard</h2>

<!-- Category Filter -->
<div class="category-filter">
  <button (click)="selectCategory(null)">All</button>
  <button (click)="selectCategory('Laptops')">Laptops</button>
  <button (click)="selectCategory('Tablets')">Tablets</button>
  <button (click)="selectCategory('Phones')">Phones</button>
</div>

<!-- Product List -->
<ul class="product-list">
  <li *ngFor="let product of filteredProducts()" class="product-item" [ngClass]="{'highlight-violet': selected() === product.id}">
    {{ product.name }} <span class="category-label">({{ product.category }})</span>
    <mat-icon (click)="selected.set(product.id)">shopping_cart</mat-icon>
  </li>
</ul>

<div class="product-info">
  <p>total count is {{ totalCount() }}</p>
  <p>Selected category is {{ selectedCategory() }}</p>
</div>
