.dashboard-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #2c3e50;
}

.category-filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;

  button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #f1f1f1;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #007bff;
      color: white;
    }
  }
}

.product-list {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;

  .product-item {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;

    .category-label {
      color: #888;
      font-size: 0.9rem;
    }
  }
}

.highlight-violet {
  background-color: blueviolet;
  color:white
}

.product-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .basket-icon {
    color: #555;
  }
}

p {
  display: flex;
  justify-content: center;
}

.product-info {
  margin-top: 70px;
}


::ng-deep .custom-snackbar button {
  color: red !important; /* Default text color */
  background: white !important; /* Ensure no background by default */
  transition: color 0.1s ease;
}

::ng-deep .custom-snackbar button:hover {
  color: transparent !important; /* New text color on hover */
  background-color: transparent !important; /* Prevent background color on hover */
}

