<h1>Signals in Angular</h1>
<div class="search-wrapper" *ngIf="tabIndex !== 0">
  <input
    type="text"
    [value]="search()"
    (input)="updateSearchTerm($any($event.target).value)"
    placeholder="🔍 Search products..."
  />
  <p>selectedProduct: {{ selectedProduct }}</p>
</div>

<!-- Material Tabs -->
<mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Counter"><counter-component></counter-component></mat-tab>
  <mat-tab label="signals"><product-dashboard-signals1 [searchTerm]="search()"
                                                       (productClicked)="handleProductClickInApp($event)"
                                                       [(selected)]="selectedProduct">
<!--    (selectedChange)="selectedProduct = $event"-->

  </product-dashboard-signals1></mat-tab>
  <mat-tab label="rxjs + signals"><product-dashboard-signals2 [searchTerm]="search()"></product-dashboard-signals2></mat-tab>
</mat-tab-group>

