<div [ngClass]="{'head': tabIndex === 0}">
@if(tabIndex !== 0){
  <div class="search-wrapper"  xmlns="http://www.w3.org/1999/html">
    <input class="search-input"
           type="text"
           [value]="search()"
           (input)="updateSearchTerm($event)"
           placeholder="🔍 Search products..."
    />
  </div>
}
</div>
<div class="selected-product">
  @if(tabIndex === 1) {
    <p >selectedProduct <b>ID</b>: {{ selectedProductId() }}</p>
  }
</div>


<mat-tab-group [(selectedIndex)]="tabIndex" (selectedIndexChange)="onTabChange($event)">
  <mat-tab label="Basics"><basic-component/></mat-tab>
  <mat-tab label="signals"><product-dashboard-signals [searchTerm]="search()"
                                                       [(selected)]="selectedProductId">
  </product-dashboard-signals></mat-tab>
  <mat-tab label="rxjs + signals"><product-dashboard-rxjs [searchTerm]="search()"></product-dashboard-rxjs></mat-tab>
</mat-tab-group>
