.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  gap: 50px;
}
.basic{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content{
  display: flex;
  gap: 50px;
  justify-content: center;
  justify-items: center;
}
